@font-face {
    font-family: 'Worksans';
    src: url(../resources/fonts/WorkSans-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Lora', serif;
    font-weight: 400;
}

html {
    font-size: 16px;
}

/* -----Header----- */
header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../resources/images/hans-isaacson-bQTVoJHrkO0-unsplash.jpg);
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../resources/images/armon-arani-u1bDbvHrmwQ-unsplash.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 3%;
}

nav img {
    width: 150px;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 0.75rem 0.75rem;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-links ul li a {
    text-decoration: none;
    color: #F5F5F4;
    font-family: 'Worksans';
    font-size: 0.85rem;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #F5F5F4;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.text-box {
    width: 90%;
    color: #F5F5F4;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h2 {
    font-style: italic;
    font-size: 2.25rem;
}

.text-box h1 {
    font-style: italic;
    font-size: 4rem;
}

.text-box p {
    font-size: 1rem;
    padding: 1.5rem 0 3rem;
}


.hero-btn {
    padding: 0.5rem 0;
    border-bottom: 2px solid #F5F5F4;
    color: #F5F5F4;
    font-family: 'Worksans';
    font-size: 1.1rem;
    text-decoration: none;
    transition: 0.5s;
    cursor: pointer;
    box-sizing: border-box;
}

.hero-btn:hover {
    border-bottom: 2px solid #F5F5F4;
    padding: 0.5rem;
    font-size: 1.2rem;
}

.btn-padding {
    height: 30px;
}

.bg-gray {
    background-color: #EBE9E6;
}

.bg-green {
    background-color: #476457;
}

.greeting {
    width: 80%;
    margin: auto;
    padding-top: 4rem;
    text-align: center;
}

.greeting h2 {
    font-size: 3.25rem;
    font-style: italic;
    margin-bottom: 3rem;
}

.greeting p {
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.greeting h4 {
    font-size: 2.25rem;
}

/*----- Cards -----*/

.cards {
    width: 80%;
    margin: auto;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.card-col {
    flex-basis: 31%;
    background: #F5F5F4;
    margin-bottom: 5%;
    padding: 1.5rem 1.5rem;
    box-sizing: border-box;
    position: relative;
}

.card-col img {
    width: 100%;
}

.card-col h3 {
    font-size: 1.8rem;
    font-weight: 600;
    margin: 0.625rem 0;
}

.card-col p {
    font-style: italic;
    margin-bottom: 3rem;
}

.card-btn {
    padding: 0.5rem 0;
    margin-top: 0.5rem;
    border-bottom: 2px solid black;
    color: black;
    font-weight: 600;
    font-size: 0.8rem;
    text-decoration: none;
    position: absolute;
    bottom: 1.5rem;
    right: 1.5rem;
    transition: 0.5s;
    cursor: pointer;
}

.card-btn:hover {
    border-bottom: 2px solid black;
    padding: 0.5rem;
    font-size: 0.9rem;
}

.about-us {
    width: 80%;
    margin: auto;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.aligncenter {
    align-items: center;
}
.about-us-col {
    flex-basis: 49%;
    margin-bottom: 5%;
    padding: 1.5rem 1.5rem;
    box-sizing: border-box;
    position: relative;
}

.about-us-col img {
    width: 100%;
}

.about-us-col h2 {
    color: #F5F5F4;
    font-size: 2.5rem;
    font-style: italic;
    margin-bottom: 0.625rem;
}

.about-us-col p {
    color: #F5F5F4;
    margin-bottom: 0.8rem;
}

.about-us-text {
    margin-bottom: 1rem;
}

.about-us-btn {
    padding: 0.5rem 0;
    margin-top: 1rem;
    border-bottom: 2px solid #F5F5F4;
    color: #F5F5F4;
    font-size: 0.8rem;
    font-weight: 600;
    text-decoration: none;
    transition: 0.5s;
    cursor: pointer;
}

.about-us-btn:hover {
    border-bottom: 2px solid #F5F5F4;
    padding: 0.5rem;
    font-size: 0.9rem;
}


/*-----  Contact Us -----*/
.contact-us {
    width: 60%;
    margin: auto;
    padding: 3rem 0;
}

.contact-us h2 {
    font-size: 2.5rem;
    font-weight: 600;
    font-style: italic;
    margin: 0.625rem 0;
}

.contact-us p {
    margin-bottom: 2rem;
}

form input, textarea {
    background-color: #EBE9E6;
    border: 2px solid black;
    padding: 1rem;
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.75rem;
}

.form-btn {
    display: flex;
    justify-content: flex-end;
}

.form-col {
    flex-basis: 48%;
    box-sizing: border-box;
}

.form-block {
    flex-basis: 100%;
    box-sizing: border-box;
}

.contact-us-btn {
    padding: 0.5rem 0;
    border-bottom: 2px solid black;
    color: black;
    font-weight: 600;
    font-size: 0.8rem;
    text-decoration: none;
    transition: 0.5s;
    cursor: pointer;
}

.contact-us-btn:hover {
    border-bottom: 2px solid black;
    padding: 0.5rem;
    font-size: 0.9rem;
}

/*----- Footer -----*/
footer {
    background-color: #343937;
}

.footer {
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.75rem;
}

footer p {
    color: #F5F5F4;
    font-size: 0.75rem;
}

footer img {
    width: 45px;
}

/*----- Media Queries -----*/
@media only screen and (max-width: 1024px) {
    .row {
        flex-direction: column;
    }
    .about-us-col {
        margin-bottom: 0;
    }
}
@media only screen and (max-width: 768px) {
    .contact-us {
        width: 85%;
    }
}

@media only screen and (max-width: 480px) {
    .nav-links {
        display: none;
    }

    .text-box h1 {
        font-size: 2rem;
    }

    .text-box h2 {
        font-size: 1.25rem;
    }
    nav img {
        width: 120px;
    }
    .greeting {
        width: 90%;
    }
    .greeting h2 {
        font-size: 2.5rem;
    }
    .greeting p {
        font-size: 1rem;
    }
    .greeting h4 {
        font-size: 1.5rem;
    }
    .cards {
        width: 95%;
    }

    .about-us {
        width: 95%;
    }

    .about-us-col {
        padding: 0.75rem 1.5rem;
    }

    .form-row {
        flex-direction: column;
        margin-bottom: 0;
    }
    .form-col {
        margin-bottom: 2rem;
    }
    .form-block {
        margin-bottom: 2rem;
    }
}

